.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-login {
  width: 70%;
  height: 70%;
}

.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }