<div nz-row [style.min-height]="'inherit'">
  <section nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="12" nzXl="12">
    <div *ngIf="isVisible" class="container-img-login">
      <img class="img-login" src="../assets/imgs/welcome-undraw.svg" alt="login">
    </div>
  </section>

  <section nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row class="container-form">
      <div nz-col nzXs="24" nzSm="24" nzMd="22" nzLg="18" nzXl="18">

        <form nz-form [nzLayout]="'vertical'" [formGroup]="userForm" (ngSubmit)="sendFormBackend()">

          <nz-form-item class="container-inputs-form" [style.margin-bottom]="'0%'">
            <img class="img-login-user" src="../assets/imgs/user-circle-svgrepo-com.svg" alt="login">
          </nz-form-item>

          <nz-form-item class="container-inputs-form">
            <nz-form-label class="input-labels">Correo electrónico</nz-form-label>
            <nz-form-control class="input-controls" nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input nz-input type="email" placeholder="Correo electrónico" formControlName="{{userE.email}}">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="container-inputs-form">
            <nz-form-label class="input-labels">Contraseña</nz-form-label>
            <nz-form-control class="input-controls" nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" placeholder="Contraseña" formControlName="{{userE.password}}">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="container-inputs-form">
            <button nz-button [nzType]="'primary'" [style.width]="'60%'" type="submit">Iniciar Sesión</button>
          </nz-form-item>

          <section id="container-links">
            <a routerLink="register">Registrarse</a>
            <a routerLink="forgot-password">Olvido su contraseña</a>
          </section>

        </form>

      </div>
    </div>
  </section>
</div>