<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <section nz-row appResponseFooter [changeContainers]="{leftContainer, centerContainer}">
        <div nz-col nzXs="12" nzSm="4" nzMd="4" nzLg="4" nzXl="4" class="container-img" #leftContainer>
            <a href="https://www.linkedin.com/in/juancadev1599" target="linkedin">
                <img class="img-linkedin" src="../assets/imgs/linkedin-2.svg" alt="linkedin">
            </a>
        </div>
        <div nz-col nzXs="24" nzSm="16" nzMd="16" nzLg="16" nzXl="16" #centerContainer>
            <p class="text-copyright">
                Iconos diseñados por <br><a href="https://www.freepik.com" title="Freepik">Freepik
                </a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
            </p>
            <p class="text-copyright">
                Iconos diseñados por <br> <a href="https://staging.svgrepo.com/" title="svgrepo">svgrepo
                </a> from <a href="https://staging.svgrepo.com/" title="Flaticon">https://staging.svgrepo.com/</a>
            </p>
            <p class="text-copyright">
                Copyright © Juan Camilo González Duque 2023
            </p>
        </div>
        <div nz-col nzXs="12" nzSm="4" nzMd="4" nzLg="4" nzXl="4" class="container-img">
            <a href="https://github.com/JuanCamiloDevFrontBack" target="github">
                <img class="img-github" src="../assets/imgs/github-svgrepo-com.svg" alt="GitHub">
            </a>
        </div>
    </section>
</footer>