<main>
    <router-outlet></router-outlet>
</main>

<footer appResponseFooter>
    <h3>Footer</h3>
</footer>

<!-- <footer nz-row nzJustify="center">
    <div nz-col nzXs="24">
        <a href="https://www.linkedin.com/in/juancadev1599" target="linkedin">
            <img class="img-linkedin" src="../assets/imgs/linkedin-2.svg" alt="linkedin">
        </a>
    </div>

    <div nz-col nzXs="24" nzSm="20" nzMd="12" nzLg="12" nzXl="8">
        <p class="text-copyright">
            Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik
            </a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
        </p>

        <p class="text-copyright">
            Copyright © Juan Camilo González Duque 2023
        </p>
    </div>

    <div nz-col nzXs="24">
        <a href="https://github.com/JuanCamiloDevFrontBack" target="github">
            <img class="img-github" src="../assets/imgs/github.svg" alt="GitHub">
        </a>
    </div>
</footer> -->